.selected-product__image-wrapper {
    width: 100%;
}

img.selected-product__image {
    max-width: 100%;
    height: auto;
}

.product-quantity__manager {
    font-size: 1rem;
    padding: 0 1rem;
}

.product-name {
    font-size: 0.8rem;
}